.app {
  display: flex;
  gap: 16px;
}

.webcam,
.depth-estimation {
  transform: rotateY(180deg);
  width: 640px;
  height: 480px;
}

.slider-conatiner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
